source https://api.nuget.org/v3/index.json

nuget JsonSubTypes 2.0.1
nuget Newtonsoft.Json 13.0.3
nuget RestSharp 112.0.0
nuget Polly 8.1.0
nuget System.ComponentModel.Annotations 5.0.0
nuget System.IdentityModel.Tokens.Jwt 8.1.2
nuget Polly.Extensions.Http 3.0.0
nuget Polly.Contrib.WaitAndRetry 1.1.1
nuget Microsoft.Extensions.Logging.Abstractions 8.0.2
nuget Microsoft.SourceLink.GitHub 8.0.0
